<%- include('../includes/start.ejs') %>
<link rel="stylesheet" href="/css/shop.css" />
<%- include('../includes/navigation.ejs') %>
<main>
    <div class="product-container">
        <h2>hi we are in the cart page</h2>
    </div>
</main>
<%- include('../includes/end.ejs') %>
