.form-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}
.form-control{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-bottom: 35px;
}
.form-input {
    border-radius: 4px;
    color: #4444aa;
    padding: 5px;
    width: 100%;
}
.label-text {
    color: #4444aa;
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 14px;
}
.submit-button {
    margin: 10px;
    height: 50px;
    width: 110px;
    background-color: white;
    border: 2px solid #9090ff;
    color: #9090ff;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}
.submit-button:hover {
    background-color: #9090ff;
    color: #ffffff;
}
